.total {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
}


h1 {
    color: firebrick;
}

b {
    color: darkslategrey;
}


button {
    padding: 15px;
    font-size: 2.5em;
    margin-right: 30px;
    border: none;
    background-color: beige;
}


.rock {
    margin-right: 30px;
}


.paper {
    margin-right: 30px;
}


.scissor {
    margin-right: 0;
}


.score,
.bot_score {
    font-size: 1.5em;
    border: none;
    background-color: beige;
}

.score {
    color: indigo;
}

.bot_score {
    color: midnightblue;
}


.result {
    padding: 50px;
    border: none;
    font-size: 1em;
    background-color: beige;
}


.restart-btn {
    margin-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: chartreuse;
    border-radius: 10px;
    font-size: 1.5em;
}


.start {
    margin-left: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: chartreuse;
    border-radius: 10px;
    font-size: 2em;
}
